In [50]:
import pandas as pd

In [51]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [52]:
(pd.read_csv('plear.csv'))

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [53]:
da =pd.read_csv('plear.csv')

In [54]:
da.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS'],
      dtype='object')

In [55]:
s =da['Player'][0:10]

In [56]:
s

0            Precious Achiuwa
1                Steven Adams
2                 Bam Adebayo
3                Santi Aldama
4           LaMarcus Aldridge
5    Nickeil Alexander-Walker
6    Nickeil Alexander-Walker
7    Nickeil Alexander-Walker
8               Grayson Allen
9               Jarrett Allen
Name: Player, dtype: object

In [57]:
len(s)

10

In [58]:
l =['a','b','c','d','e','f','g','h','i','j']

In [59]:
c =pd.Series(list(s),index = l)

In [60]:
s

0            Precious Achiuwa
1                Steven Adams
2                 Bam Adebayo
3                Santi Aldama
4           LaMarcus Aldridge
5    Nickeil Alexander-Walker
6    Nickeil Alexander-Walker
7    Nickeil Alexander-Walker
8               Grayson Allen
9               Jarrett Allen
Name: Player, dtype: object

In [61]:
c

a            Precious Achiuwa
b                Steven Adams
c                 Bam Adebayo
d                Santi Aldama
e           LaMarcus Aldridge
f    Nickeil Alexander-Walker
g    Nickeil Alexander-Walker
h    Nickeil Alexander-Walker
i               Grayson Allen
j               Jarrett Allen
dtype: object

In [62]:
c[0]

'Precious Achiuwa'

In [63]:
c.append(s)

/tmp/ipykernel_84/1298084617.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  c.append(s)

a            Precious Achiuwa
b                Steven Adams
c                 Bam Adebayo
d                Santi Aldama
e           LaMarcus Aldridge
f    Nickeil Alexander-Walker
g    Nickeil Alexander-Walker
h    Nickeil Alexander-Walker
i               Grayson Allen
j               Jarrett Allen
0            Precious Achiuwa
1                Steven Adams
2                 Bam Adebayo
3                Santi Aldama
4           LaMarcus Aldridge
5    Nickeil Alexander-Walker
6    Nickeil Alexander-Walker
7    Nickeil Alexander-Walker
8               Grayson Allen
9               Jarrett Allen
dtype: object

In [64]:
s

0            Precious Achiuwa
1                Steven Adams
2                 Bam Adebayo
3                Santi Aldama
4           LaMarcus Aldridge
5    Nickeil Alexander-Walker
6    Nickeil Alexander-Walker
7    Nickeil Alexander-Walker
8               Grayson Allen
9               Jarrett Allen
Name: Player, dtype: object

In [65]:
l = ['a','s','d','f','g','h','j','k','l','z']

In [66]:
pd.Series(list(s),index = l)

a            Precious Achiuwa
s                Steven Adams
d                 Bam Adebayo
f                Santi Aldama
g           LaMarcus Aldridge
h    Nickeil Alexander-Walker
j    Nickeil Alexander-Walker
k    Nickeil Alexander-Walker
l               Grayson Allen
z               Jarrett Allen
dtype: object

In [67]:
l1 =['sudhir','Bhai','rotit','jani','k','j','t','r','o','p']

In [68]:
import pandas as pd

In [69]:
pd.Series(list(s),index = l1)

sudhir            Precious Achiuwa
Bhai                  Steven Adams
rotit                  Bam Adebayo
jani                  Santi Aldama
k                LaMarcus Aldridge
j         Nickeil Alexander-Walker
t         Nickeil Alexander-Walker
r         Nickeil Alexander-Walker
o                    Grayson Allen
p                    Jarrett Allen
dtype: object

In [70]:
s

0            Precious Achiuwa
1                Steven Adams
2                 Bam Adebayo
3                Santi Aldama
4           LaMarcus Aldridge
5    Nickeil Alexander-Walker
6    Nickeil Alexander-Walker
7    Nickeil Alexander-Walker
8               Grayson Allen
9               Jarrett Allen
Name: Player, dtype: object

In [71]:
c.append(s)

/tmp/ipykernel_84/1298084617.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  c.append(s)

a            Precious Achiuwa
b                Steven Adams
c                 Bam Adebayo
d                Santi Aldama
e           LaMarcus Aldridge
f    Nickeil Alexander-Walker
g    Nickeil Alexander-Walker
h    Nickeil Alexander-Walker
i               Grayson Allen
j               Jarrett Allen
0            Precious Achiuwa
1                Steven Adams
2                 Bam Adebayo
3                Santi Aldama
4           LaMarcus Aldridge
5    Nickeil Alexander-Walker
6    Nickeil Alexander-Walker
7    Nickeil Alexander-Walker
8               Grayson Allen
9               Jarrett Allen
dtype: object

In [72]:
s2 =c.append(s)

/tmp/ipykernel_84/3746854643.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 =c.append(s)

In [73]:
s[0]

'Precious Achiuwa'

In [84]:
pd.Series([2,3,4,5,6,],index = [3,8,1,9,5])

3    2
8    3
1    4
9    5
5    6
dtype: int64

In [85]:
s3=pd.Series([2,3,4,5,6,],index = [3,8,1,9,5])

In [104]:
pd.Series([3,22,33,44,55,],index = [2,3,4,5,6,])

2     3
3    22
4    33
5    44
6    55
dtype: int64

In [105]:
s4=pd.Series([3,22,33,44,55,],index = [2,3,4,5,6,])

In [106]:
s3.append(s4)

/tmp/ipykernel_84/3712036911.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s3.append(s4)

3     2
8     3
1     4
9     5
5     6
2     3
3    22
4    33
5    44
6    55
dtype: int64

In [107]:
s5= s3.append(s4)

/tmp/ipykernel_84/1530311846.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s5= s3.append(s4)

In [108]:
s5

3     2
8     3
1     4
9     5
5     6
2     3
3    22
4    33
5    44
6    55
dtype: int64

In [110]:
s5[3]

3     2
3    22
dtype: int64

In [111]:
s5[0:5]

/tmp/ipykernel_84/1173574618.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s5[0:5]

3    2
8    3
1    4
9    5
5    6
dtype: int64

In [113]:
s4 * s5

3       4
8       9
1      16
9      25
5      36
2       9
3     484
4    1089
5    1936
6    3025
dtype: int64